#pass-pro-toolbar-button {
	list-style-image: url("chrome://passpro/skin/toolbar-large.png");
}

#pass-pro-status-bar-icon {
	width: 83px;
	margin: 0 5px;
}

.pass-pro-selected {
	outline: 2px solid red !important;
}